/* **********     Reset CSS     ********** */
:root {
    --font-size: 16px;
    --theme-main-background: #3a4764;
    --theme-toggle-keypad-background: #232c43;
    --theme-screen-background: #182034;
    --theme-key-second-background: #637097;
    --theme-key-second-shadow: #404e72;
    --theme-key-third-background-toggle: #d03f2f;
    --theme-key-third-shadow: #93261a;
    --theme-key-background-button: #eae3dc;
    --theme-key-background-shadow-button: #b4a597;
    --theme-text-color-first: #444b5a;
    --theme-text-color-second: #ffffff;
    --theme-color-text-top: #ffffff;
    --theme-single-color-character: #ffffff;

}

html {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
}

img,
video {
    max-width: 100%;
    height: auto;
}

.calculator {
    width: 100%;
    min-height: 100vh;
    padding: 5vh 0;
    background-color: var(--theme-main-background);
}

.calculator__top {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
}

.calculator__title {
    font-size: 2rem;
    color: var(--theme-color-text-top);
}

.theme__types {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.theme__numbers {
    display: flex;
    justify-content: space-around;
}

.theme__number {
    color: var(--theme-color-text-top);
}

.theme__options {
    position: relative;
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 2rem;
    background-color: var(--theme-toggle-keypad-background);
    border-radius: 1rem;
}

.theme__text {
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    color: var(--theme-color-text-top);
    transform: translate(-200%, -50%);
}

.theme__option {
    width: 2rem;
    height: 2rem;
    z-index: 990;
    cursor: pointer;
}

.theme__option--selector {
    position: absolute;
    top: 50%;
    left: 8%;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 99;
    background-color: var(--theme-key-third-background-toggle);
    border-radius: 50%;
    transform: translate(0%, -50%);
    transition: all 1s ease-in-out;
}

.theme__option:hover~.theme__option--selector {
    filter: contrast(200%);
}

.theme__option--border-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.theme__option--border-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.calculator__medium {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.screen {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--theme-screen-background);
    border-radius: 1rem;
}

.screen__secondary-text {
    display: flex;
    overflow: hidden;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    color: var(--theme-key-background-shadow-button);
}

.screen__primary-text {
    display: flex;
    overflow: hidden;
    justify-content: end;
    padding: 0.5rem 0;
    font-size: 2.5rem;
    color: var(--theme-color-text-top);
    transition: all 1s ease-in-out;
}


.keys {

    display: grid;
    gap: 1rem;
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--theme-toggle-keypad-background);
    border-radius: 1rem;
    grid-template-areas:
        "key__1 key__2 key__3 key__4"
        "key__5 key__6 key__7 key__8"
        "key__9 key__10 key__11 key__12"
        "key__13 key__14 key__15 key__16"
        "key__17 key__17 key__18 key__18"
    ;

}

.key__1 {
    grid-area: key__1;
}

.key__2 {
    grid-area: key__2;
}

.key__3 {
    grid-area: key__3;
}

.key__4 {
    grid-area: key__4;
}

.key__5 {
    grid-area: key__5;
}

.key__6 {
    grid-area: key__6;
}

.key__7 {
    grid-area: key__7;
}

.key__8 {
    grid-area: key__8;
}

.key__9 {
    grid-area: key__9;
}

.key__10 {
    grid-area: key__10;
}

.key__11 {
    grid-area: key__11;
}

.key__12 {
    grid-area: key__12;
}

.key__13 {
    grid-area: key__13;
}

.key__14 {
    grid-area: key__14;
}

.key__15 {
    grid-area: key__15;
}

.key__16 {
    grid-area: key__16;
}

.key__17 {
    grid-area: key__17;
}

.key__18 {
    grid-area: key__18;
}

.keys__key {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3rem;
    z-index: 99;
    font-size: 2rem;
    background-color: var(--theme-key-background-button);
    color: var(--theme-text-color-first);
    border-radius: 0.25rem;
    box-shadow: 0rem -0.25rem 0rem 0rem var(--theme-key-background-shadow-button) inset;

}

.keys__key:hover {
    cursor: pointer;
    filter: contrast(200%);
}

.keys__key--text {
    font-size: 1.25rem;
    text-transform: uppercase;

}

.keys__key--bgblue {
    background-color: var(--theme-key-second-background);
    color: var(--theme-text-color-second);
    box-shadow: 0rem -0.25rem 0rem 0rem var(--theme-key-second-shadow) inset;
}

.keys__key--bgred {
    background-color: var(--theme-key-third-background-toggle);
    color: var(--theme-text-color-second);
    box-shadow: 0rem -0.25rem 0rem 0rem var(--theme-key-third-shadow) inset;
}

.keys__key--single-color {
    color: var(--theme-single-color-character);
}

@media screen and (min-width: 30em) {
    body {
        background-color: var(--theme-main-background);
    }

    .calculator {
        width: 50%;
        margin: 0 auto;
    }
}